body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, white,lightgray , rgba(128, 128, 128, 0.7), rgba(0, 0, 0, 0.6));
  height: 100%;
}

header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

footer {
  background-color: grey;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.middle {
  right: 50%;
  left: 50%;
}

.hub {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}
.logo {
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mobileonlytext {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobileonlytext {
    display: block;
  }
}
.hidescreen {
  text-align: center;
  background-color: rgb(163, 163, 163);
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
  }
  .showscreen {
  text-align: center;
  background-color: rgb(163, 163, 163);
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
  }
  code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }